
	.navbar{
		min-height: 80px;
	}

	.navbar-default .navbar-toggle{
		margin-top: 22px;
	}

	.navbar-header{
		min-height: 80px;
	}

	.navbar-collapse{
		border-top-color: #37bc9b !important;
	}

	.navbar-toggle .icon-bar{
		background-color: #888;
	}

	.navbar-nav > li > a{
		padding-top: 20px;
		padding-bottom: 20px; 
		padding-left: 15px;
		color:#000000;
		font-size:17px;
		
	}
	.navbar-nav > li > a:hover{
		color:#fff;
		background-color:#0A3A0B;
	}
	.top-bar ul{
		list-style:none;
	}
	
	.top-bar ul li{
		display:block;
		float:left;
		padding: 10px 10px;
	}
	
	.top-bar {
  		padding: 10px 0;
  		line-height: 28px;
	}

	.navbar-nav > .active > a::after{
		content: "";
		display: none;
	}

	.navbar-nav li.dropdown.open > a,
	.navbar-nav li.dropdown.open > a:hover{
		color: #fff;
		background-color: #37bc9b;
	}

	.navbar-nav .open .dropdown-menu > .active > a, 
	.navbar-nav .open .dropdown-menu > .active > a:hover, 
	.navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #fff;
		background-color: #37bc9b;
	}

	.navbar-nav .open .dropdown-menu > li > a {
		color: #000;
		padding-top: 12px;
		padding-bottom: 12px; 
	}

	.navbar-nav .open .dropdown-menu > li > a:hover {
		color: #fff;
		background-color: #37bc9b; 
	}

	.dropdown-menu > li > a{
		display: block;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 25px;
	}