
/*
.navbar {
  overflow: hidden;
  clear: both;
  border-bottom: 3px solid rgb(39,99,128);
  width:100%;
  margin-bottom:0px;
  background-color:#fff;
}



nav li {
  float: left;
  padding: 2rem;
  margin-right: 3rem;
  cursor: pointer;
  position: relative;
  list-style: none;
}
nav li a {
  position: relative;
  z-index: 1;
  color: #80A894;
  text-decoration: none;
  transition: color 0.2s;
}
nav li:hover a {
  color: #fff;
}

nav .navbar-nav li a {
  color: rgb(72,123,147);
  font-size:15px;
}

nav .navbar-nav li:before {
  display: block;
  content: "";
  height: 0;
  width: 100%;
  background: #2B6D8D;
  box-shadow: inset 0 5px 0 #1F4F66;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  transition: height 0.3s;
}

nav .navbar-nav li:hover a {
  color: #fff;
  text-decoration:none;
}
nav .navbar-nav li:hover:before {
  height: 100%;
}

.navbar-nav .dropdown-menu {
  background-color: rgb(138,138,230);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
  opacity:0.8;
}

.navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}

.navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #fff;
}

.navbar-nav .dropdown-menu > li:hover > a,
.navbar-nav .dropdown-menu > li:focus > a,
.navbar-nav .dropdown-menu > li.active > a {
  background-color: rgb(107,172,225);
  color: #fff;
}

.navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}*/

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #FFFFFF;
  padding: 15px 0;
  padding-bottom: 0;
  opacity:1.0;
}

 .navbar-nav{
  margin-top: 50px;
 }

.navbar-nav>li{
  margin-left: 35px;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 5px 12px;
  margin: 0;
  color: rgb(74,124,148);
  line-height: 24px;
  display: inline-block;
  font-family:trebuchet ms;
}

.navbar-inverse .navbar-nav > li > a:hover{
	background-color: rgb(150,201,61);
    color: #FFFFFF;
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgb(150,201,61);
  color: #FFFFFF;
  border-radius:3px;
}

.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: rgb(150,201,61);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: rgb(107,172,225);
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}

.social-share ul li{
	padding-left:0px;
}

#main-slider {
  	position: relative;
  	margin-top:125px;
}

.no-margin {
  margin: 0;
  padding: 0;
}

/*********** Slider starts here ***********/

#main-slider {
  position: relative;
}

.no-margin {
  margin: 0;
  padding: 0;
}

#main-slider .carousel .carousel-content {
  margin-top: 100px;
}

#main-slider .carousel .slide-margin{
  margin-top: 1%;
}

#main-slider .carousel .slide-margin h1{
	border-top:3px solid #fff;
	border-bottom:3px solid #fff;
	padding-top:10px;
	padding-bottom:10px;
}

#main-slider .carousel h2 {
  color: #fff;
}

#main-slider .carousel .btn-slide {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  margin-top: 25px;
  display: inline-block;
}

#main-slider .carousel .slider-img{
  text-align: right;
  position: absolute;
}


#main-slider .carousel .item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height:450px;
  display: block !important;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}

#main-slider .carousel .item:first-child {
  top: auto;
  position: relative;
}

#main-slider .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}

#main-slider .prev,
#main-slider .next {
  position: absolute;
  top: 50%;
  color: #fff;
  display: inline-block;
  margin-top: -25px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  z-index: 5;
}


#main-slider .prev {
  left: 10px;
}

#main-slider .next {
  right: 10px;
}

#main-slider .carousel-indicators li {
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin: 0 15px 0 0;
  position: relative;
}

#main-slider .carousel-indicators li:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #FFF;
  left: -3px;
  top: -3px;
}

#main-slider .carousel-indicators .active{
  width: 20px;
  height: 20px;
  background-color: #c52d2f;
   margin: 0 15px 0 0;
   border: 1px solid #c52d2f;
   position: relative;
}

#main-slider .carousel-indicators .active:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #c52d2f;
  border: 1px solid #c52d2f;
  left: -3px;
  top: -3px;
}

#main-slider .active .animation.animated-item-1 {
  -webkit-animation: wobble 600ms linear 600ms both;
  -moz-animation: wobble 600ms linear 600ms both;
  -o-animation: wobble 600ms linear 600ms both;
  -ms-animation: wobble 600ms linear 600ms both;
  animation: wobble 600ms linear 600ms both;
}

#main-slider .active .animation.animated-item-2 {
  -webkit-animation: slideInRight 600ms linear 600ms both;
  -moz-animation: slideInRight 600ms linear 600ms both;
  -o-animation: slideInRight 600ms linear 600ms both;
  -ms-animation: slideInRight 600ms linear 600ms both;
  animation: slideInRight 600ms linear 600ms both;
}

#main-slider .active .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}

#main-slider .active .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}

/************ Slider Ends here ***********
 * 
 */

.center {
  text-align: center;
  padding-bottom: 55px;
}

.heading-title h2{
	position: relative;
	display: inline;
	padding: 12px 20px;
	font-size: 28px;
	line-height: 32px;
	text-transform: uppercase;
	font-weight: 600;
	border: 2px solid #898ba2;
}

.heading-title{
	display: block;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 60px;
}

.heading-title.bg-white h2::before{
	background: #fff;
}

.heading-title h2::before{
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	display: block;
	width: 30px;
	height: 30px;
	margin-top: -16px;
	margin-left: -15px;
	background: #f4f4f4;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
		-ms-border-radius: 100%;
		 -o-border-radius: 100%;
			border-radius: 100%;
}

.heading-title h2::after{
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	display: block;
	width: 12px;
	height: 12px;
	margin-top: -7px;
	margin-left: -6px;
	background: #898ba2;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
		-ms-border-radius: 100%;
		 -o-border-radius: 100%;
			border-radius: 100%;
}

/************* Footer ************/
#footer{
	width: 100%;
	padding: 60px 0 0;
	background-color: #0f101a;
	margin-top:20px;
}

#footer .widget:before,
#footer .widget:after{
	content: "";
	display: table;
	clear: both;
}

#footer .widget{
	color:#d9dae9;
	margin-bottom: 20px;
}

#footer .widget h2{
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	line-height: 36px;
	font-weight: 800;
	color: #d9dae9;
	margin-bottom: 20px;
}

#footer .widget h3{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	line-height: 26px;
	font-weight: 800;
	color: #d9dae9;
	margin-bottom: 30px;
}

#footer .widget > ul,
#footer .widget ul{
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

#footer .widget > ul > li,
#footer .widget > ul > li > a,
#footer .widget ul > li,
#footer .widget ul > li > a{
	display: block;
	padding: 2px 0;
	font-size: 14px;
	color: #898ba2;
	font-weight: 400;
}

#footer .widget > ul > li > a::before,
#footer .widget ul > li > a::before{
	content: '\f10c';
	font-family: 'FontAwesome';
	font-size: 15px;
	font-weight: 400;
	padding-right: 15px;
}

#footer .widget > ul > li > a:hover,
#footer .widget > ul > li > a:focus,
#footer .widget ul > li > a:hover,
#footer .widget ul > li > a:focus{
	color: #37bc9b;
}

#footer .widget.widget_recent_comments > ul > li > a,
#footer .widget.widget_recent_comments ul > li > a{
	display: inline-block;
}

#footer .widget.widget_recent_comments > ul > li > a:before,
#footer .widget.widget_recent_comments ul > li > a:before {
	content: "";
	font-family: 'Raleway', sans-serif;
	padding-right: 0;
}

#footer .widget.widget_recent_comments > ul > li:before,
#footer .widget.widget_recent_comments ul > li:before{
	content: '\f05d';
	font-family: 'FontAwesome';
	font-size: 16px;
	font-weight: 400;
	padding-right: 15px;
}


/* 
	==================
	[11. COPYRIGHT]
	==================
*/
.copyright{
	position: relative;
	margin-top: 60px;
	padding: 60px 0 40px;
	text-align: center;
	border-top: 1px solid #2c3e50;
}

.copyright .scroltop{
	position: absolute;
	left: 50%;
	top: -18px;
	margin-left: -18px;
}

.copyright .social-links > li > a{
	position: relative;
	width: 40px;
	height: 40px;
	margin-top: 25px;
	background: #6b6e80;
	display: block;
	border-radius: 100%;
}

.copyright .social-links > li > a > .fa{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 18px;
	height: 18px;
	margin-left: -9px;
	margin-top: -9px;
	color: #1b1d2a;
	font-size: 19px;
}

.copyright .social-links > li > .icon-twitter:hover{
	background: #4099ff;
}

.copyright .social-links > li > .icon-facebook:hover{
	background: #4467ad;
}

.copyright .social-links > li > .icon-youtube:hover,
.copyright .social-links > li > .icon-gplus:hover{
	background: #ff4b4b;
}

/********* Footer ends here **************/